<div class="home-container">
  <div class="description-box">
    <h1 class="title">Turneo</h1>
    <p class="description">
      ¡Bienvenido a la plataforma diseñada para transformar la gestión de tu complejo deportivo!
      Con nuestra herramienta, podrás gestionar las reservas de tus canchas de manera rápida,
      eficiente y sin complicaciones, mejorando tu flujo de clientes y maximizando tus ingresos.
    </p>
    <p class="description">
      ¿Te imaginas recibir más reservas con solo un click? Tus clientes podrán ver la disponibilidad
      de tus canchas en tiempo real y realizar reservas instantáneas a través de WhatsApp. ¡La gestión nunca
      fue tan fácil!
    </p>
    <div class="buttons-container">
      <button class="register-btn" (click)="goRegister()">Registrarse</button>
      <button class="login-btn" (click)="goLogin()">Iniciar sesión</button>
    </div>
  </div>
</div>
